.green,
.accent {
  color: #28e52b;
}

.dark-gray,
.primary {
  color: #353535;
}

.light-gray,
.secondary {
  color: #7f827d;
}

.white,
.tertiary {
  color: #e2e2e2;
}

.accent-dot-large {
  font-size: 52px;
}

.reverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

html {
      font-family: "Roboto Condensed", sans-serif;
      scroll-behavior: smooth;
}

h2{
  color: #28e52b;
  text-align: center;
  font-size: 76px;
}

/*Landing*/

.main-container {
  width: 100%;
  background-size: cover;
  background-color: #353535;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  padding-bottom: 30px;
}



.hero-image {
  width: 125px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  
}

.left-animation{
animation: fadeIn 1s cubic-bezier(.36,.07,.19,.97) both;
}

.left-animation:hover{
  opacity: 0;
  animation: fadeOut 1s cubic-bezier(.36,.07,.19,.97) both;
}

.middle1-animation{
  animation: fadeIn 1.5s cubic-bezier(.36,.07,.19,.97) both;
}

.middle1-animation:hover{
  opacity: 0;
  animation: fadeOut 1.5s cubic-bezier(.36,.07,.19,.97) both;
}

.middle2-animation{
  animation: fadeIn 2s cubic-bezier(.36,.07,.19,.97) both;
}

.middle2-animation:hover{
  opacity: 0;
  animation: fadeOut 2s cubic-bezier(.36,.07,.19,.97) both;
}

.middle3-animation{
  animation: fadeIn 2.5s cubic-bezier(.36,.07,.19,.97) both;
}

.middle3-animation:hover{
  opacity: 0;
  animation: fadeOut 2.5s cubic-bezier(.36,.07,.19,.97) both;
}

.right-animation{
  animation: fadeIn 3s cubic-bezier(.36,.07,.19,.97) both;
}

.right-animation:hover{
  opacity: 0;
  animation: fadeOut 3s cubic-bezier(.36,.07,.19,.97) both;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}



.nav-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #000;
  border-bottom: solid 10px #28e52b;;
}

.nav-logo{
  width: 200px; 
 

}


.nav-item{
  opacity: 1;
  position: relative;
}

.nav-item:hover{
  opacity: .85;
}
.nav-container .nav-item{
  font-size: 18px;
  color: #e2e2e2;
  text-decoration: none;
  line-height: 20px;
  cursor: pointer;
  padding-top: 15px;
  margin-left: 20px; 
  margin-right: 20px;
  position: relative;

}

.nav-drop-container{
  padding-top: 15px;
}

.nav-drop-container:hover .nav-drop{
  display: block;
}

.nav-item-drop{
  font-size: 18px;
  color: #e2e2e2;
  text-decoration: none;
  line-height: 20px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px; 
  position: relative;
  display: block;
}

.nav-item-drop:hover{
  opacity: .85;
}

.nav-drop{
  display: none;
  top: 60px;
  position: absolute;
  background-color: #000;
  width: 200px;
  padding-bottom: 10px;
  border-top: solid 2px #28e52b;

}

.sub-nav-bar-below{
  margin-top: 5px;
  width: 100px;
  height: 1px;
  background-color: #28e52b;
  margin-left: auto; 
  margin-right: auto;
}

.header-box {
  width: 80%;
  border-top: solid 5px #7f827d;
  color: #e2e2e2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  margin-top: 40px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.header-box .fa-shapes {
  color: #28e52b;
  padding: 10px;
}

.landing-card-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.landing-card {
  width: 300px;
  height: 200px;
  color: #e2e2e2;
  font-size: 24px;
  text-align: center;
  padding-top: 15px;
  text-transform: uppercase;
}

.accent-bar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 2px #28e52b;
  margin-top: 5px;
  display: none;
}

.landing-body {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
  line-height: 24px;
  text-transform: none;
}

.landing-card .fas {
  margin-bottom: 25px;
  margin-top: 25px;
  color: #28e52b;
}

.nav-bar-below {
  width: 120px;
  height: 3px;
  background-color: #7f827d;
  position: absolute;
  display: none;
}



.accent-slider {
  width: 10px;
  height: 3px;
  background-color: #28e52b;
  position: absolute;
  display: none;
}

.slide-right {
  animation: slide-right 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(110px);
  }
}

.slide-left {
  animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    transform: translateX(110px);
  }
  100% {
    transform: translateX(0px);
  }
}

#classes{
  margin-top: 70px;
}

.bar-small{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 5px#28e52b;
    margin-top: 120px;
    margin-bottom: 20px;
}
.classes-container {
      border: solid 5px #7f827d;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      padding: 5px;
}
.accordian-container {
    max-width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    color: #e2e2e2;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background-color: #353535;
}
.active{
  font-weight: bold; 
  font-size: 32px;
  background-color: #353535;
  filter: brightness(85%);
}
.accordion:hover {
  background-color: #353535;
  filter: brightness(85%);
  font-size: 24px;
}
.panel {
    padding: 0 18px;
    color: #e2e2e2;
    display: none;
    background-color: #353535;
    overflow: hidden;
    border: solid 2px #28e52b;
    position: relative;
}
.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}
.bar {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-top: solid 2px #28e52b;
    margin-top: 20px;
    margin-bottom: 20px;
}
.accordian-action {
    width: 150px;
    color: #353535;
    font-size: 14px;
    height: 40px;
    text-align: center;
    border: solid 1px #777;
    background-color: #28e52b;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer;
}
.accordian-action:hover {
    filter: brightness(85%);
}
.cost {
    position: absolute;
    right: 40px;
    bottom: 25px;
    color: #28e52b;
}
.duration {
    position: absolute;
    left: 40px;
    bottom: 25px;
    color: #28e52b;
}
